.login-container {
     background-image: url("https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?cs=srgb&dl=abstract-art-background-370799.jpg&fm=jpg");
     height:100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-left:auto;
     margin-right:auto;
}
